*{
        font-family: "Plus Jakarta Sans", sans-serif;
        margin:0;
        padding: 0;

      }
      body{
        min-height: 100vh;
        background-image: linear-gradient(#FFFFFF,#EBDCFF);
      }

      #banner{
        width:87.5%;
        margin: 100px auto 120px auto;
        background-color: white;
        border:2px solid #872BFF10;
        border-radius: 40px;
        background-image: url('../images/hero-bg.png');
        padding:20px 30px ;
        display: flex;
        justify-content: space-between;
        align-items: center;

      }
      .banner-content{
        width: 600px;
      }
      .banner-content *{
        margin-bottom: 36px;
      }

      .banner-content h1{
        font-size: 70px;
        font-weight: bold;
      }
      .banner-content h1 span{
        color:#F411CF;
      }
      .banner-content p{
        font-size: 18px;
        font-weight: medium;
        color:#A8A8A8;
      }

      

      .btn-white{
       
        
        padding:16px 32px;
        border-radius: 30px;
        
        margin-right:10px;
      }

      .banner-imgae img{
        width:600px;
      }

/* commmon code */
.container{
    width: 1260px;
    margin: 120px auto;
}

.title{
  text-align: center;
  margin-bottom: 60px;
}
.title h4{
  font-size:24px ;
  font-weight:bold ;
  color:#F411CF
}
.title h2{
  font-size:44px;
  font-weight:bold;
}

.btn{
        background-color: #872BFF;
        padding:16px 32px;
        border-radius: 30px;
        color: white;
        margin-right:10px;
        margin-top: 20px;
        border:none;
      }

/* service section */

.service-content{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.service-box{
    background-color: #FDFFFF;
    width: 350px;
    height: 450px;
    text-align: center;
    gap: 60px;
    padding: 20px;
    border-radius: 30px;
}
.service-box *{
    margin-bottom: 60px;

}

.service-box h2{
    font-weight: semi-bold;
    font-size: 28px;
}
.service-box p{
    color: #A8A8A8;
    font-weight: medium;
    font-size: 18px;

}
/* Explore section */
.explore-content{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 48px;
    gap: 32px;
}
.explore-info p{
    font-size: 16px;
    color: #0E0E0E;
    margin-bottom: 32px;
}

/* Countries content */
.countries-content{
  text-align:center;

}

.first-countries{
  display:flex;
  gap:20px;
  justify-content: space-between;
}
.second-countries{
  display:flex;
  gap:20px;
  justify-content:center;
  margin-top: 20px;
}

.country-box{
  background-color: white;
  padding:40px;
  border-radius:16px;
}

/* Reviews Section */
.reviews-container{
  background-color: white;
  padding:20px;
  color:#0E0E0E;
  margin-bottom: 40px;
  text-align:center;

}

.reviewed-person{
  margin-top: 20px;
  display:flex;
  justify-content: center;
  gap:100px;
}

/* Footer */

footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F3F3F3;
  padding:17px 123px;

  
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.checked {
  color: orange;
}